
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
{insert_scripts files="../js/bonus_card_list.js"}
<div id = "bonus_card_menu" class="list-div"  >
        <button onclick="card_admin()">充值卡管理</button> &nbsp <button onclick="type_admin()">充值卡类型管理</button>
        </br>
        {if $page_type == "bonus_card"}
            <button onclick="add_card()">添加充值卡</button>
            </br>
            <table cellpadding="3" cellspacing="1">
                <th>ID</th>
                <th>序列号</th>
                <th>类型</th>
                <th>金额</th>
                <th>是否被使用</th>
                <th>充值用户</th>
                <th>充值时间</th>
                <th>是否可用</th>
                <th>有效期开始</th>
                <th>有效期结束</th>
                <th>操作</th>

                {foreach from = $cards item = item}
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.keycode}</td>
                        <td>{$item.description}</td>
                        <td>{$item.bonus}</td>
                        <td>
                            {if $item.is_recharged == 1}
                            是
                            {else}
                            否
                            {/if}
                        </td>
                        <td>{$item.user}</td>
                        <td>{$item.recharged_time}</td>
                        <td>
                            {if $item.is_avaliable}
                            是
                            {else}
                            否
                            {/if}
                        </td>
                        <td>{$item.time_start}</td>
                        <td>{$item.time_end}</td>
                        <td>
                            <a href="bonus_cards.php?act=delete&id={$item.id}">删除</a> &nbsp
                        </td>
                    </tr>

                {/foreach}

            </table>
            <table cellpadding="4" cellspacing="0">
                <tr>
                    <td align="right">{include file="page.htm"}</td>
                </tr>
            </table>

        {/if}

        {if $page_type == "bonus_card_type"}
        <button onclick="add_card_type()">添加充值卡类型</button>
         <table cellpadding="3" cellspacing="1">
            <th>ID</th>
            <th>金额</th>
            <th>描述</th>
            <th>是否可用</th>
            <th>更新时间</th>
            <th>创建时间</th>
            <th>操作</th>
             {foreach from = $cards_types item = item}
                <tr>
                    <td>{$item.id}</td>
                    <td>{$item.bonus}</td>
                    <td>{$item.description}</td>
                    <td>
                        {if $item.is_avaliable}
                        是
                        {else}
                        否
                        {/if}
                    </td>

                    <td>{$item.modified_time}</td>
                    <td>{$item.created_time}</td>
                    <td>
                        <a href="bonus_cards.php?act=delete&id={$item.id}&page_type=bonus_card_type">删除</a> &nbsp
                        <a href="bonus_cards.php?act=view&id={$item.id}&page_type=bonus_card_type">查看</a> &nbsp
                        <a href="bonus_cards.php?act=edit&id={$item.id}&page_type=bonus_card_type">编辑</a>

                    </td>
                </tr>

        {/foreach}
         </table>

    <table cellpadding="4" cellspacing="0">
        <tr>
            <td align="right">{include file="page.htm"}</td>
        </tr>
    </table>
        {/if}

    </div>
{include file="pagefooter.htm"}
